body {
  background-color: #282c34;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px+2vmin);
  color: white;
}
.form__input {
  width: 350px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
}
.form__button {
  padding: 12px;
  border-radius: 15px;
  font-size: 15px;
  margin-left: 20px;
  cursor: pointer;
}
.list__button {
  border-radius: 25px;
  padding: 10px;
  border: 1px solid white;
  color: white;
  background-color: orangered;
  margin-left: 0.5rem;
  cursor: pointer;
}
.allTodos {
  list-style: none;
  margin: 0;
  padding: 0;
}
.singleTodo {
  border-radius: 50px;
  margin: 10px 0px;
  background-color: #5dadf8;
  padding: 10px 20px;
  display: flex;
  width: 450px;
  align-items: center;
}
.todoText {
  text-align: start;
  flex: 1;
}
